@font-face {
  font-family: 'Montserrat';
  src:  url('/static/fonts/Montserrat/Montserrat-Regular.ttf') format('ttf')
}

@font-face {
  font-family: 'Montserrat-Bold';
  src:  url('/static/fonts/Montserrat/Montserrat-Bold.ttf') format('ttf')
}

@font-face {
  font-family: 'Bebas Neue';
  src:  url('/static/fonts/BebasNeue/BebasNeue-Regular.ttf') format('ttf')
}

@font-face {
  font-family: 'Bebas Neue Bold';
  src:  url('/static/fonts/BebasNeue/BebasNeue-Bold.ttf') format('ttf')
}

@font-face {
  font-family: 'Bebas Neue Light';
  src:  url('/static/fonts/BebasNeue/BebasNeue-Light.ttf') format('ttf')
}


@font-face {
  font-family: 'Roboto';
  src:  url('/static/fonts/Roboto/Roboto-Regular.ttf') format('ttf')
}